.custom-navbar {
  padding: 20px; /* Adjust the padding to increase height */
  background-color: aquamarine;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  font-size: 1.2rem; /* Adjust the font size if needed */
}

.custom-navbar .btn {
  margin-left: auto; /* Move the buttons to the right */
}